body {
    background-color: gainsboro;
    z-index: 1;
}


/* Navigation Bar */
header,
header nav {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

div a {
    left: 1%;
}

header nav{
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, .5);
    z-index: 5;
} 

header nav, 
header nav ul, 
header nav ul > li {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-content: space-around;
}

header nav ul{
    list-style-type: none;
}

header nav ul > li{
    position: relative;
}

header nav ul > li:hover ul{
    top: 100%
}

header nav ul li a,
header nav ul li a:visited{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: rgb(15, 177, 218);
    text-decoration: none;
    font-family: 'Road Rage', 'cursive';
    font-family: 'Rubik', sans-serif;
}

header nav ul li a:hover{
    color: rgb(250, 168, 15);
}

header nav ul > li> ul {
    position: absolute;
    top: -300%;
    left: 0;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0.5rem 0.3rem 0 rgba(255, 255, 255, 0.2);
    transition: top .5s ease;
    z-index: -1;
}

header nav ul > li > ul > li > a{
    width: 100%;
    background-color: #fefefe;
    border-bottom: 1px solid rgb(255, 255, 255);
    white-space: nowrap;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1%;
  margin-top: 10px;
 
}


/* Login Form */

body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: rgba(25, 91, 177, 0.5);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}